body {
    margin: 0;
    font-family: 'Arial';
    background: black;
    color: white;
    overflow-x: hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(0,0,0,0.7);
}

header span {
    color: #00ffcc;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 150px 20px;
}

.hero span {
    color: #00ffcc;
}

button {
    background: #00ffcc;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.services {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.card {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    width: 25%;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #00ffcc;
}

.about, .contact {
    text-align: center;
    padding: 80px 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 20px;
}
